* {
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

.corpo {
  background: #050505;
  height: 100vh;
}

.introducao {
  line-height: 20px;
  padding-top: 8rem;
}

.conteudo {
  line-height: 30px;
  padding-top: 21rem;
  right: 23rem;
}

.entenda {
  position: absolute;
  margin-top: 4rem;
  left: 53rem;
}

.como {
  position: absolute;
  margin-top: 4rem;
  left: 61rem;
}

.funciona {
  position: absolute;
  margin-top: 6rem;
  left: 53rem;
}


#botao {
  position: fixed;
      bottom: 20px;
      right: 20px; 
      background-color: black;
      color: greenyellow;
      border: 1px solid rgb(0, 255, 213);
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      font-size: 16px;
      z-index: 1000; /
}




footer {
  position: absolute;
  bottom: 0%;
  width: 100%;;
}

.logo {
  top: 8rem;
  right: 14rem;
}

.lista {
  position: absolute;
  top: 29rem;
  left: 55rem;
  width: 20rem;
  height: 20rem;
  background-color: transparent;
  border-radius: 10px;
  padding: 1rem;
}

.logo2 {
  width: 25% ;
  top: 28rem;
  left: 28rem;
}


button,
button::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "x$%#!@";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

button:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
      clip-path: var(--move1);
      transform: translate(0px, -10px);
  }

  10% {
      clip-path: var(--move2);
      transform: translate(-10px, 10px);
  }

  20% {
      clip-path: var(--move3);
      transform: translate(10px, 0px);
  }

  30% {
      clip-path: var(--move4);
      transform: translate(-10px, 10px);
  }

  40% {
      clip-path: var(--move5);
      transform: translate(10px, -10px);
  }

  50% {
      clip-path: var(--move6);
      transform: translate(-10px, 10px);
  }

  60% {
      clip-path: var(--move1);
      transform: translate(10px, -10px);
  }

  70% {
      clip-path: var(--move3);
      transform: translate(-10px, 10px);
  }

  80% {
      clip-path: var(--move2);
      transform: translate(10px, -10px);
  }

  90% {
      clip-path: var(--move4);
      transform: translate(-10px, 10px);
  }

  100% {
      clip-path: var(--move1);
      transform: translate(0);
  }
}